@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:wght@300;400;500;600;700;800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    padding: 1rem;
    background-image: url(image/436871_purple-and-pink_1920x1080_h.jpg);
    font-family: "Poppins" sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
}

form {
    width: 100%;
    max-width: 30rem;
    background: transparent;
    border-radius: 25px;
    padding: 20px 30px;
    border: 3px solid #ffffff;
    backdrop-filter: blur(7px);
    box-shadow: 0px 0px 80px 10px #000000;
    text-shadow: 0px 0px 15px #000000;
}

label,
input,
textarea,
button {
    display: block;
}

input,
textarea,
button {
    width: 100%;
    font: inherit;
    padding: 1.25rem;
    font-weight: 700;
}

input,
textarea{
    margin-bottom: 1rem;
    color: #ffffff;
    background: transparent;
    backdrop-filter: blur(10px);
    border: 0.125rem solid;
    border-radius: 1.125rem;    
    transition: border-color 0.3s;
    box-shadow: 0.3s;
    border-color: #ffffff;
}

input:hover,
input:focus,
textarea:hover,
textarea:focus {
    outline: none;
    border-color: #ffffff;
    box-shadow: 0 0 0 0.3125rem #00000073;
}

label {
    margin-bottom: 0.5rem;
    color: #ffffff;
}

textarea {
    min-height: 12.5rem;
    resize: vertical;
}

button {
    border: none;
    border-radius: 99px;
    color: white;
    background: #00ff40b4;
    cursor: pointer;
    transition: 0.3s;
}

button:hover,
button:focus {
    outline: none;
    background: #73007e;
}

button:disabled {
    cursor: not-allowed;
    background: #555b69;
}

.success,
.error {
    text-align: center;
}

.success {
    color: greenyellow;
}

.error {
    color: tomato;
}

.texto {
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #ffffff;
    text-shadow: 0px 0px 35px rgb(0, 0, 0);
}
